<h1>About</h1>
<mat-divider></mat-divider>
<br>
<h2>What Does This Mean?
<mat-divider></mat-divider></h2>

<p>This data shows you various different things about Data in Netflix. For example you are able to see what directors are producing the most content across Netflix and you also get to see what categories are the most prevalent amongst the Netflix catalog.</p>

<h2>Why Does This Exist?
<mat-divider></mat-divider></h2>
<p>This was a training exercise for me to learn how to do Fullstack Development in Angular.</p>
